{% extends "basic.html" %}

{% block title %}Your Notes{% endblock %}

{% block content %}
<div class="formContainer">
    <span class="contentTitle">Add a note</span>
    <form id="addNoteForm" action="{{ url_for('add_note')}}" method="post">
        <input type="text" name="title" placeholder="Title">
        <textarea name="body" placeholder="Body" rows="5"></textarea>
        <input type="submit" value="Add note" id="addNote">
    </form>
</div>


<div id="notesContainer">
{% for note in notes %}
    {% include "note.html" %}
{% endfor %}
</div>
{% endblock %}